*, *:before, *:after { box-sizing: border-box; }
body, html {
  font-family: sans-serif;
}
.container { 
  max-width: 500px; 
  margin: 100px auto;
  h1 {
    color: #005cc5;
  }
  code {
    border: 1px solid #ddd;
    background: #eee;
  }
}
      
.fesk-featured--omeka {
  .fesk-button--primary {
    background: #961E22;
    color: #fff;
    &:focus {
      outline: 2px solid darken(#961E22, 10%);
    }
  }
  .fesk-button--link {
    color: #961E22;
  }
}

.fesk-menu {
    position: fixed;
    top: 100px;
    width: 300px;
    height: calc(100% - 100px);
    overflow-y: auto;
}
.fesk-layout__menu {
  display: none;
  @media only screen and (min-width: 1024px) {
    display: block;
    min-width: 300px;
  }
  @media only screen and (max-width: 1023px) {
    flex-basis: 100px !important;
  }
}
.fesk-menu {
  @media only screen and (max-width: 1023px) {
    display: none;
  }
}
.fesk-header {
  @media only screen and (min-width: 1024px) {
    position: fixed;
    height: 100px;
    width: 300px; 
  }
}

h1:target, h2:target, h3:target, h4:target, h5:target, h6:target {
  border-left: 3px solid orange;
  padding-left: 10px;
}