*, *:before, *:after { box-sizing: border-box; }
body, html {
  font-family: sans-serif;
}
.container { 
  max-width: 500px; 
  margin: 100px auto;
  h1 {
    color: #005cc5;
  }
  code {
    border: 1px solid #ddd;
    background: #eee;
  }
}
      
.fesk-featured--omeka {
  .fesk-button--primary {
    background: #961E22;
    color: #fff;
    &:focus {
      outline: 2px solid darken(#961E22, 10%);
    }
  }
  .fesk-button--link {
    color: #961E22;
  }
}